@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Ranga);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

/* Aqui relacionado ao Corpo do site */
body{
	background-color: #727273; 
}

/* Aqui relacionado ao header */

div#cabecalho {
	text-align: center;
	padding: 50px;
	box-shadow: 0px 5px 10px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FCFDFF;
	padding-bottom: 10px;

}
div#cabecalho h1 {
	position: relative;
	margin-bottom: 0px;
	font-family: 'Ranga', cursive;
	font-size: 50px;
	text-align: center; 

}

div#cabecalho h2 {
	margin-top: 0px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	

}

nav#menu-suspenso {
	position: relative;
	width: 350px;
	margin-left: 215px;
	margin-right: auto;
}

nav#menu-suspenso ul{
	position: relative;
	list-style: none;
	
		
}
nav#menu-suspenso li {

	display: inline-block;
	background-color: none;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 20px;
	font-size: 11pt;


}

#corpo-geral {
	width: 900px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}

section {
position: relative; 
background-color: #FCFDFF;
width: 580px;
height: 800px;
margin-left: 0px;
margin-top: -820px;
box-shadow: 0px 5px 10px;


}

aside{

	width: 300px;
	height: 800px;
	box-shadow: 0px 5px 10px;
	margin-left: 600px;
	margin-right: auto;
	background-color: #FCFDFF;
}